{% extends "layout/master.twig" %}

{% block title %}Producto{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block body_id %}product{% endblock %}
{% block content %}
    <div class="container-fluid wide-content">
        <div id="section">
            <div class="container no-gutters mx-auto">
                <div class="row no-gutters bg-white">
                    <div class="container" id="breadcrumb">
                        <ol>
                            <li><a href="{{ settings.DOMAIN }}">Inicio</a></li>
                            <li>&gt;</li>
                            <li>
                                <a href="{{ settings.DOMAIN }}categoria/1">Anillos</a>
                            </li>
                            <li>&gt;</li>
                            <li><span class="active-page">Producto Prueba</span></li>
                        </ol>
                    </div>
                    <div class="row w-75 mx-auto  mt-4 my-5">
                        <div class="col-md-5 col-md-offset-0">
                            <img class="img-responsive" src="{{ settings.IMG }}packshot.jpg"
                                 id="bigPic"
                                 alt="test"
                                 title="test"/>
                        </div>
                        <div class="col-md-7" style="text-align: justify;">
                            <h2>Producto prueba</h2>
                            <h4>Código: 156797897z</h4>

                            <p>
                                Descripción prueba Descripción prueba Descripción prueba Descripción prueba Descripción prueba Descripción prueba Descripción prueba Descripción prueba
                            </p>
                            <br>
                            <h3>$1,000.00</h3>
                            <br>
                            <button type="button" class="btn btn-outline-dark btn-lg">Agregar al carrito</button>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.text -->
    </div>
{% endblock %}