#header {
    padding: 0px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 3px 0 rgba(50, 50, 50, .2);
    -moz-box-shadow: 0 3px 3px 0 rgba(50, 50, 50, .2);
    box-shadow: 0 3px 3px 0 rgba(50, 50, 50, .2);
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    background: 0 0;
    box-shadow: 1px 3px 3px 4px rgba(50, 50, 50, .2);
}

.navbar-header {
    margin: 0 auto;
}

.main-menu {
    border-top: 1px solid #e5e5e5;
    background: #fff;
    float: none;
    width: auto;
    position: initial;
}

#home .container {
    padding-top: 0px;
    float: none;
    clear: both;
    padding-right: 0px;
    padding-left: 0px;
}

.main-menu-navigation {
    /*width: 1120px;*/
    text-align: center;
    height: 49px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 auto;
}

a.menu-item {
    cursor: pointer;
    color: #6c757d;
}

a.menu-item:hover {
    cursor: pointer;
    color: #2a2730;
}

.main-menu-navigation .menu-item {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    max-width: 100%;
    vertical-align: middle;
}

.menu-item .txt {
    text-shadow: 1px 0 0 transparent;
    transition: text-shadow .15s ease-in-out;
}

.item-highlights-new {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#product .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 35%;
}

.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
}

.slide-box .col {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px 0px darkgray;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    /*border-radius: 4px;*/
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.slide-box .col img {
    width: auto;
    height: auto;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev, .carousel-control-next {
    width: 3%;
}

.contentFooter a {
    color: #000;
}

legend {
    border-bottom: 1px solid;
    font-size: 1rem;
    color: #000;
}

address {
    font-size: .75rem;
    color: #000;
    margin-bottom: 0px;
}


.carousel-caption {
    position: relative;
    left: 0%;
    right: 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 20px;
    border-radius: .5rem;
    font-size: 12px;
}

.navbar-nav {
    margin: 0 auto;
}

.slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

span.product-name a {
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 18px;
    margin-top: 5px;
    text-transform: uppercase;
}


span.product-name {
    display: block;
    text-align: center;
    line-height: 18px;
    margin-top: 5px;
    height: 42px;
    overflow: hidden;
}

span.product-name a:hover {
    color: #000;
}

@media only screen and (max-width: 600px) {
    .slide-box img {
        max-width: 50%;
    }

    .navbar-brand img {
        width: 65px;
    }

    .logo-desktop {
        display: none;
    }

    .container {
        max-width: 768px;
    }

    .centered h1 {
        font-size: .75rem;
    }

    .centered p {
        font-size: .5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: .75rem;
    }

}

.video {
    width: 100%;
    max-width: 480px;
    height: auto;
}

@media only screen and (min-width: 600px) {
    .slide-box img {
        max-width: 45.3333%;
    }

    .navbar-brand img {
        width: 80px;
    }

    .logo-desktop {
        display: none;
    }

    .container {
        max-width: 768px;
    }

    .centered h1 {
        font-size: 1.0rem;
    }

    .centered p {
        font-size: .5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .slide-box img {
        max-width: 50.3333%;
    }

    .navbar-brand img {
        width: 80px;
    }

    .logo-desktop {
        display: none;
    }

    .container {
        max-width: 992px;
    }

    .centered h1 {
        font-size: 1.25rem;
    }

    .centered p {
        font-size: .75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    .container {
        max-width: 1200px;
    }

    .slide-box img {
        max-width: 50.3333%;
    }

    .navbar-brand img {
        width: 85px;
    }

    .mobile-header {
        display: none;
    }

    .logo-desktop {
        display: block;
    }

    .navbar-nav li {
        font-size: 12px;
    }

    .centered h1 {
        font-size: 1.5rem;
    }

    .centered p {
        font-size: .75rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {

    .slide-box img {
        max-width: 50%;
    }

    #product .container {
        width: 1110px !important;
    }

    .navbar-brand img {
        width: 90px;
    }

    .mobile-header {
        display: none;
    }

    .logo-desktop {
        display: block;
    }

    .container {
        max-width: 1600px;
    }

    .navbar-nav li {
        font-size: 13px;
    }

    .centered h1 {
        font-size: 2.0rem;
    }

    .centered p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }
}

@media (min-width: 1600px) {

    .slide-box img {
        max-width: 50%;
    }

    .navbar-brand img {
        width: 90px;
    }

    .mobile-header {
        display: none;
    }

    .logo-desktop {
        display: block;
    }

    .navbar-nav li {
        font-size: 15px;
    }

    .centered h1 {
        font-size: 2.0rem;
    }

    .centered p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}